.app-banner__wrapper {
    background-color: #0e3c6e;
    height: 400px;
    margin-top: 200px;
}
.app_advert_container {
    display: flex;
}
.app_advert_container .advert_img {
    margin-top: -157px;
    margin-left: 0px;
}
.app-advert__content {
    color: #fff;
    margin-top: 50px;
}
.app-advert__content h2 {
    margin-bottom: .5rem;
}
.app-advert__content p {
    margin-bottom: 1rem;
}
.download-links {
    display: flex;
    justify-content: space-between;
}

.store-links {
    display: flex;
    flex-direction: column;
}

.ios {
    margin-bottom: 1rem;
}

.qr-code-link{
    width: 100px;
    height: 100px;
}

.qr-code-link img {
    width: 100%;
}