/* Styling for TABPANEL TEXT */
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root,
.css-ahj2mt-MuiTypography-root {
  color: #fff !important;
}
/* Styling for TABPANEL CONTENT CONTAINER */
.css-19kzrtu {
  background-color: #0e3c6e;
  margin-top: 0.05rem;
  width: fit-content;
}
/* Styling for TABPANEL TITLE TEXT */
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  background-color: #0e3c6e !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* Styling for INDICATOR UNDER TEXT */
.css-1aquho2-MuiTabs-indicator {
  display: none;
}

.css-ahj2mt-MuiTypography-root{
  display: flex;
}

.css-1gsv261 {
  border-bottom: none !important;
}