/* Styling for TABPANEL TEXT */
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root,
.css-ahj2mt-MuiTypography-root {
  color: #fff !important;
}
/* Styling for TABPANEL CONTENT CONTAINER */
.css-19kzrtu {
  background-color: #0e3c6e;
  margin-top: 0.05rem;
  width: fit-content;
  padding: 2rem !important;
}
/* Styling for TABPANEL TITLE TEXT */
.css-h0q0iv-MuiButtonBase-root-MuiTab-root {
  background-color: rgba(185, 205, 227, 0.8) !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}
.css-h0q0iv-MuiButtonBase-root-MuiTab-root.Mui-selected {
  background-color: #0e3c6e !important;
  color: #fff !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.css-h0q0iv-MuiButtonBase-root-MuiTab-root {
  min-height: 0 !important;
}

#simple-tab-0 {
  margin-right: 5px;
}
/* Styling for INDICATOR UNDER TEXT */
.css-1aquho2-MuiTabs-indicator {
  display: none;
}

.css-ahj2mt-MuiTypography-root{
  display: flex;
}

.css-1gsv261 {
  border-bottom: none !important;
}

.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
  border:1px solid #f5f5f5 !important;
  color: #f6f6f6 !important;
}

.css-1rwt2y5-MuiButtonBase-root-MuiButton-root:hover{
  border: 1px solid rgba(25, 118, 210, 0.5) !important;
  color: #1976d2 !important;
}