.radio__container.MuiButtonBase-root.MuiRadio-root {
  color: #fff !important;
}

.radio__container.MuiFormControl-root {
  padding-bottom: 0.5rem !important;
}

.radio__container.MuiFormLabel-root {
  color: #fff !important;
}

#radiobutton__container {
  display: flex !important;
  margin-bottom: 1rem !important;
}
@media screen and (max-width: 1024px) {
  .radio__container.MuiFormGroup-root {
    width: max-content !important;
  }
  #radiobutton__container {
      flex-wrap: wrap;
  }
}
