#radiobutton__container .MuiButtonBase-root.MuiRadio-root {
  color: #fff !important;
}

#radiobutton__container .MuiFormControl-root {
  padding-bottom: 0.5rem !important;
}

#radiobutton__container .MuiFormLabel-root, #radiobutton__container .MuiTypography-root {
  color: #fff !important;
}

#radiobutton__container {
  display: flex !important;
  margin-bottom: 1rem !important;
}
@media screen and (max-width: 1024px) {
  #radiobutton__container .MuiFormGroup-root {
    width: max-content !important;
  }
  #radiobutton__container {
      flex-wrap: wrap;
  }
}
