.text__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.textbox {
    width: 25%;
    margin: 0 .5rem;
}

.textbox caption {
    min-width: 240px;
    text-align: center;
}

caption .c-title {
font-size: 1.2rem;
margin: .5rem 0;
}
caption .c-subtitle {
    font-size: .9rem;
    color: #959595;
}

.textbox figure img:hover {
    fill: red;
}