.css-1nrlq1o-MuiFormControl-root {
    width: 130px !important;
    margin-right: .5rem !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root, .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input, .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
    color: #fff !important;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
    transform: translate(1px, -16px) scale(0.75) !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    border: none !important;
    outline: none !important;
    padding: .5rem 1rem !important;
    background-color: #1976d2 !important;
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root:hover .MuiOutlinedInput-notchedOutline{
    outline: none !important;
    border: none !important;
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    line-height: 2rem !important;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    top: -4px !important;
}
.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
    fill: #fff !important;
}
/* #1976d2 */