.select-dropdown__container {
  display: flex !important;
  margin-bottom: 1rem;
}
.select-btn {
  min-width: 132px;
  margin-right: 10px;
}

.select-dropdown__value-container {
  display: flex !important;
}
.select-dropdown__control {
  cursor: pointer !important;
  background: linear-gradient(180deg, #efff3a 0%, #9bc100 100%) !important;
  z-index: 1;
  opacity: 1;
  border-color: #9bc100 !important;
  border-radius:  5px !important;
}

.select-dropdown__single-value {
  color: #0e3c6e !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
  line-height: 19px !important;
}

.select-dropdown__indicator-separator {
  display: none !important
}

.select-dropdown__indicator.select-dropdown__dropdown-indicator svg {
  fill: #0e3c6e !important;
}

@media screen and (max-width: 600px) {
  .select-dropdown__container {
    display: none !important;
  }
}