.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: 1rem 4rem;
    vertical-align: middle;
}
.navbar__container ul {
    display: flex;
    list-style: none;
}
.navbar__container ul li {
    margin: 0 1rem;
    font-size: .85rem;
    text-transform: capitalize;
}
.navbar__container ul li a {
    color: #111;
    font-weight: 500;
    transition: .2s ease-in-out;
}
.navbar__container ul li a:hover {
    color: #0e3c6e;
} 
.navbar-left-side__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.logo__container {
    width: 30%;
    margin-right: 2rem;
}
.logo__container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.support-dropdown {
    overflow: hidden;
}
.support-dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    min-width: 140px;
    padding: 12px 16px;
}

.support-dropdown-content a {
    text-decoration: none;
    color: #111;
    padding: 10px 0;
}

.support-dropdown:hover .support-dropdown-content{
    display: flex;
}