.hotel-wrapper .heading {
    display: flex;
    align-items: center;
    margin: .5rem 0;
}
.hotel-wrapper .heading h3 {
    margin-right: .5rem;
}
.hotel-wrapper .heading img {
    object-fit: cover;
}
.hotel-wrapper .images__container {
    width: 100%;
    display: flex;
    overflow-x: auto;
    scrollbar-width: 0;
}
.hotel-wrapper figure {
    margin-right: 1.05rem;
}
.hotel-wrapper figure img {
    width: 465px;
    height: 240px;
    object-fit: cover;
}